$font-size: 15px;
$line-height: 1.4;
$lines-to-show: 4;

.close {
  margin-right: 15px;
  font-weight: 300;
  font-size: 30px;
  color: #6E96C8;
  opacity: 1;
}

.createperview__{
  &modal {
    width: 90%;
  }

  &modalhead {
    padding: 15px 0;
  }

  &btn{
    width: 200px;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 18px;
    color: white;
    background: #B8A98D;
  }
}
/* search section */
.createperview__{
  &search-container {
    width: 100%;
  }

  &title {
    margin: 0 359px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  &search-msg {
    margin: auto;
    padding-bottom: 10px;
  }

  &search-background {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #B8A98D;
  }

  &search-box {
    width: 65%;
  }
}

/* review section*/

.createperview__ {
  &product-container {
    padding: 20px 10% 15px 40px;
  }

  &product {
    width: 100%;
    height: 200px;
  }

  &product-left {
    width: 30%;
  }

  &product-img {
    width: 80%;
    border: 1px #D6D6D6 solid;
  }

  &product-right {
    width: 70%;
    padding: 10px 0 40px 0;
  }

  &product-info {
    align-items: space-between;
  }

  &product-title {
    padding-bottom: 30px;
    width: 100%;
    padding-bottom: 10px;
    // height: 140px;
    // line-height: 140px;
    color: #3F3F3F;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    min-width: 352px;
    // height: 50px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    font-weight: 300;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &product-details {
    align-items: flex-end;
    margin-top: 30px;
  }

  &product-price {
    font-size: 20px;
    font-weight: bold;
  }

  &product-perviews {
    margin-left: auto;
    font-size: 12px;
    color: #3F3F3F;
  }


  /* review section */
  &review-container {
    display: flex;
    justify-content: flex-end;
  }

  &review-box {
    width: 60%;
  }

  &review-rating {
    padding-bottom: 20px;
  }

  &review-rating-msg{
    justify-content: flex-start;
  }

  &review-rating-stars {
    padding-left: 10px;
  }

  &review-stars {
    width: 50%;
  }

  &rating-star {
    font-size: 22px;
    padding-left: 5px;
  }


  &review-msg {
    width: 50%;
    padding-bottom: 5px;
  }

  &review-input {
    border: 1px #D4D4D4 solid;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &review-submit {
    margin: auto;
    padding: 5px;
    width: 150px;
    color: white;
    background: #919ECB;
    border-radius: 18px;
  }



}
