.header__ {
  &container {
    width: 100%;
    height: 70px;
    // margin-top: 4px;
    position: fixed;
    background: white;
    z-index: 10;
    display: flex;
    align-items: center;
  }

  &box {
    width: 980px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  /* logo */
  &logo {
    width: 160px;
  }

  &logoimg {
    width: 100%;
    padding: 0 8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  //Nav Menu
  &navbox {
    width: 195px;
    margin: auto 8px;
    justify-content: space-between;
    align-items: center;
  }

  &nav {
    // color: #484848;
    color: green;
    padding: 25px 0;
    // padding-bottom: 10px;
    overflow: auto;
  }

  &navicon {
    color: #8c8c8c;
    padding-right: 8px;
  }

  &menuitem {
    color: gray;
  }


// active menu item
  &nav:hover,
  &nav.active {
    // padding: 23px 0;
    padding-bottom: 22px;
    border-bottom: 3px solid red;
  }
// Search Bar
  &search {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 0 8px;
  }

  &usernav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5%;
    padding: 0 8px;
  }
}

.createperview__container {
  width: 19%;
  margin: 0 8px;
}

/* scrolling shadow */

.scrolled {
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
  transition: ease 0.5s;
}
