.header__ {
  &container {
    width: 100%;
  }

  &box {
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 7px 0;
    margin: auto;
    width: 980px;
    border-bottom: 1px lightgray solid;
  }

  /* logo */
  &logo {
    width: 15%;
  }

  &logoimg {
    border-radius: 50%;
    width: 60px;
    border: 1px lightgray solid;
    overflow: hidden;
    height: 60px;
  }

  &search {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  &usernav{
    display: flex;
    padding-left: 30px;
    justify-content: space-around;
    align-items: center;
    width: 25%;

  }

}
