$font-size: 15px;

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.root {
}

.active_star {
font-size: $font-size;
// content: "\2605";
/*position: relative;*/
// font: #fff;
color: #775B2C;
border-radius: 1px;
indent: 5px;
}

.no_star {
font-size: $font-size;
// content: "\2605";
/*position: relative;*/
// font: #fff;
color: #D1D1D1;
border-radius: 1px;
indent: 5px;
}

/* Take out bootstrap component text shadow blur */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  color: white;
  -webkit-text-shadow: none;
  text-shadow: none;
}

/* autosuggest */
.react-autosuggest__suggestions-container {
  max-height: 300px;
  overflow-y: scroll;
}

.react-autosuggest__input {
  max-width: 92%;
  overflow: auto;
}
