$font-size: 15px;

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.root {
}

.btn-default:active,
.btn-default.active {
  background: #85B0FB
}

// start rating
.active_star {
  font-size: $font-size;
  color: #D8AA36;
  border-radius: 1px;
  indent: 5px;
}

.no_star {
  font-size: $font-size;
  color: #D1D1D1;
  border-radius: 1px;
  indent: 5px;
}

/* Take out bootstrap component text shadow blur */
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  color: white;
  -webkit-text-shadow: none;
  text-shadow: none;
}

/* autosuggest */
.react-autosuggest__suggestions-container {
  max-height: 300px;
  overflow-y: scroll;
}

.react-autosuggest__input {
  max-width: 92%;
  overflow: auto;
}

//BUY achnor Button

.buy-{
  &btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 28px;
    font-size: 14px;
    font-family: "Fira Sans";
    margin-top: 10px;
    background: #3D70F0;
    border-radius: 18px;
    transition: 0.3s;
  }

  &btn:hover {
    background: #79A0E3;
    box-shadow: 1px 5px 5px #E1E1E1;
    -webkit-transform: translateY(-1px);
    transition: 0.3s;
  }

  &btn:active {
    background: #85B0FB;
    box-shadow: 0 0 1px #E1E1E1;
    -webkit-transform: translateY(2px);
    transition: .15s;
  }

  &btn,
  &btn:hover,
  &btn:active,
  &btn:visited,
  &btn:focus {
    color: white;
    text-decoration: none;
  }
}

// font awesome background invible
i::before{
    background:transparent;
}

// Overrides React Router Link's css for links
a:-webkit-any-link {
  text-decoration: none;
}
