$title-font-size: 15px;
$title-line-height: 1.4;
$title-lines-to-show: 5;

$review-font-size: 15px;
$review-line-height: 1.2;
$review-lines-to-show: 5;

.itemperview__{
  &layoutcontainer {
    width: 100%;
    margin: auto;
  }
//item section
  &itemcontainer {
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
    margin-bottom: 20px;
    border: 1px #D6D6D6 solid;
    box-shadow: 0px 2px 2px 1px #EAEAEA;
    border-radius: 7px;
  }

  &itembox {
    width: 100%;
    height: 250px;
    margin-left: auto;
    // margin-bottom: 20px;
    border: 1px #D6D6D6 solid;
    box-shadow: 0px 2px 2px 1px #EAEAEA;
    border-radius: 7px;
  }
// item img - left side
  &itemimgbox {
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &itemimg {
    max-width: 210px;
    max-height: 210px;
    border-radius: 2px;
    display: block;
    margin: auto;
  }

// item info - right side
  &iteminfobox {
    width: 70%;
    padding: 20px 30px 50px 10px;
  }

  &itemname {
    width: 100%;
    padding-bottom: 10px;
    color: darkgray;
    height: $title-font-size*$title-line-height*$title-lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: $title-font-size;
    font-weight: 300;
    line-height: $title-line-height;
    -webkit-line-clamp: $title-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &itemprice {
    align-self: flex-start;
    white-space: normal;
    font-weight: bold;
    font-size: 18px;
  }

  &itembuy {
  }

  &itembuy-btn {
    width: 150px;
    font-size: 10px;
    font-family: arial;
    margin-top: 10px;
    color: white;
    background: #919ECB;
    border-radius: 18px;
  }

  &numperviewbox {

  }

  &numperview {
    margin-left: auto;
  }

//perviews section
  &perviewcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &perviewcenterbox {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    margin: auto;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
  }

  &perviewbox{
    width: 312px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
    border: 1px #D6D6D6 solid;
    background: #E9E9E9;
    box-shadow: 0px 2px 2px 1px #EAEAEA;
    border-radius: 7px;
    align-self: flex-start;
  }


  &timestamp {

  }

  &userbox {

  }

  &userimgbox {
    display: block;
    width: 20%;
    // padding: 20px 10px 50px 10px;
    vertical-align: center;
    padding-right: 15px;
  }

  &userimg {
    width: 100%;
    height: 38px;
    overflow: hidden;
    border-radius: 50%;
  }

  &userimg:hover {
    cursor: pointer;
  }


  &username {
    width: 80%;
    display: flex;
  }

  &ratingbox {
  }

  &reviewbox {
    height: 110px;
  }

  &review {
    width: 100%;
    padding-bottom: 10px;
    color: #3F3F3F;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    // height: 50px;
    height: $review-font-size*$review-line-height*$review-lines-to-show;
    margin: 0 auto;
    font-size: $review-font-size;
    font-weight: 300;
    line-height: $review-line-height;
    /* Fallback for non-webkit */
    -webkit-line-clamp: $review-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &socialbox {

  }

  &social-bookmark {

  }


  &social-like {

  }

  &icon-bookmark,
  &icon-like {
    color: #E9E9E9;
    text-shadow: 0px 0px 1px #000;
  }

  &icon-bookmark:hover,
  &icon-like:hover {
    cursor: pointer;
  }

  &icon-bookmark.active,
  &icon-like.active {
    color: #6E96C8;
    transition: ease .2s;
    text-shadow: 0px 0px 0px #E9E9E9;
  }

  &showmore {
    height: 20px;
  }
}
