$title-font-size: 15px;
$title-line-height: 1.4;
$title-lines-to-show: 2;

$review-font-size: 13px;
$review-line-height: 1.4;
$review-lines-to-show: 6;

.narrowperviews__{
  &container {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  &box {
    display: flex;
    align-items: center;
    position: relative;
    height: 560px;
    box-shadow: 1px 1px 1px #888;
    border: 1px #D6D6D6 solid;
    box-shadow: 0px 2px 2px 0px #EAEAEA;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &solicitsbackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    background: #779AF4 url("https://s3.amazonaws.com/yumpapp-dev/perview/background+icons.png") repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

  &content {
    width: 100%;
    height: 320px;
    padding: 10px;
  }
}
// box product info section
.narrowperviews__{
  &productbox {
    display: flex;
    width: 100%;
    // height: 100%;
    // height: 320px;
    padding: 10px;
    overflow: hidden;
  }

  &time {
    margin-left: auto;
    color: #3F3F3F;
    padding: 6px 0;
    margin-bottom: 8px;
  }

  &img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 166px;
    border-radius: 7px;
  }

  &productimg-photo {
    margin: auto;
    max-width: 284px;
    max-height: 150px;
    margin-bottom: 10px;
  }

  &product-name {
    width: 100%;
    color: #3F3F3F;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    // height: 50px;
    height: $title-font-size*$title-line-height*$title-lines-to-show;
    margin: 10px auto;
    margin-bottom: 0;
    font-size: $title-font-size;
    font-weight: 300;
    line-height: $title-line-height;
    /* Fallback for non-webkit */
    -webkit-line-clamp: $title-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &product-name:hover {
    text-decoration: none;
    color: #c45500;
  }

  &price {
    padding: 2px 0;
  }

  &buybox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &moreinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: -3px;
    font-size: 10px;

    &-text {
      padding-right: 5px;
    }
  }
// moreinfo popover
  &popover {
    font-size: 12px;
    font-family: roboto;
    font-weight: lighter;
  }

  &numperviews {
  }
}

// perview tags and info
.narrowperviews__{
  &reviewbox {
    height: 50%;
    width: 94%;
    margin: 0 10px 15px 10px;
    padding: 10px;
    background: #F7F7F7;
    border-radius: 5px;
    display: flex;
    padding: 0 10px;
  }

  &reviewbox {

  }

  &reviewnav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
  }

  &stars {
    text-indent: 4px;
  }

  &review-editbox {

  }

  &edit-btn {
    width: 20px;
    background: #F7F7F7;
    margin-right: 10px;
  }

  &edit-icon {
    color: #3D70F0;

  }

  &delete-btn {
    text-shadow: 0;
    width: 15px;
    background: #F7F7F7;
  }

  &delete-icon {
    color: #3D70F0;
  }

  &review-tags {
    padding-bottom: 15px;
  }

  &review-text {
    width: 100%;
    padding: 0 8px 10px 8px;
    color: #3F3F3F;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $review-font-size*$review-line-height*$review-lines-to-show;
    margin: 0 auto;
    font-size: $review-font-size;
    font-weight: 300;
    line-height: $review-line-height;
    /* Fallback for non-webkit */
    -webkit-line-clamp: $review-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// solicit user info
.narrowperviews__ {
  &userprofile {
    height: 40%;
  }

  &solicit-tags {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    font-size: 18px;
    cursor: pointer;
  }

  &solicit-user {

  }

  &solicit-date {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
  }
}
