.narrowperviews__{
  &container {
    width: 980px;
    min-width: 980px;
    margin: auto;
  }

  &box {
    width: 30%;
    // height: 300px;
    margin-left: auto;
    box-shadow: 1px 1px 1px #888;
    margin-bottom: 10px;
    margin-bottom: 20px;
    border: 1px #D6D6D6 solid;
    box-shadow: 0px 2px 2px 0px #EAEAEA;
  }
}
