.navbar__ {
  &container {
    padding-top: 95px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  &box {
    margin: auto;
    justify-content: space-between;
    width: 100%;
  }

  &title {
    padding: 16px 0;
    font-size: 22px;
  }

  // &creatererview {
  //   width: 100px;
  // }
  //
}
