.navbar__ {
  &container {
    width: 100%;
  }

  &box {
    margin: auto;
    justify-content: space-between;
    width: 980px;
  }

  &title {
    padding: 16px 0;
    font-size: 22px;
  }

  // &creatererview {
  //   width: 100px;
  // }
  //
  &creatererview-btn {
    width: 200px;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 18px;
    color: white;
    background: #B8A98D;
  }
}
