$title-font-size: 15px;
$title-line-height: 1.3;
$title-lines-to-show: 3;


$name-font-size: 13px;
$name-line-height: 1.4;
$name-lines-to-show: 1;

.search__{
  &container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #D6D6D6 solid;
    width: 100%;
    height: 35px;
    padding: 0px;
    border-radius: 5px;
    background: white;
  }

  &box {
    width: 100%;
  }

  &bar {
    justify-content: space-between;
    width: 100%;
  }

  &input {
    width: 100%;
    margin: 0px 0 0px 20px;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    border-radius: 5px;
  }

  &btn {
    position: absolute;
    width: 5%;
    background: white;
    border-radius: 5px;
    top: 5px;
    right: 10px;
  }

  &btn-icon {
    color: #D6D6D6;
  }

  &input:focus,
  &btn:focus {
    outline: none;
  }
}

body {
  font-family: Helvetica, sans-serif;
}

/* autosuggest */

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 300;
  overflow: hidden;
  border-radius: 5px;
}

.search__inputContainer {
  position: relative;
}

.search__inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 24px;
  height: 24px;
}
/* General autosuggestion changes */
.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
}

.react-autosuggest__suggestions-container {
  display: none;
  border-radius: 3px;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 35px;
  width: 100%;
  max-height: 600px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
  z-index: 2;

  -webkit-box-shadow: 1px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    1px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow:         1px 3px 5px rgba(100, 100, 100, 0.49);
}
/* autosuggest list */
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* autosuggest individual item */
.react-autosuggest__suggestion {
  cursor: pointer;
  border-bottom: 1px #D6D6D6 solid;
  padding: 10px 0;
}
/* autosuggest highlight */
.react-autosuggest__suggestion--highlighted {
  background-color: #F6FAFE;
}

/* product UI for autosuggest */
.autosuggest__{
  &item {
    width: 100%;
    height: 160px;
  }

/* product display left side */
  &product-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
  }

  &img {
    max-width: 100px;
    max-height: 100px;
    position:absolute;
    -webkit-backface-visibility: hidden;
  }
  /* product display right side */
  &product-right {
    width: 66.66%;
    justify-content: space-around;
  }

  &name {
    width: 100%;
    color: darkgray;
    display: block;
    height: $title-font-size*$title-line-height*$title-lines-to-show; /* Fallback for non-webkit */
    margin: 10px auto;
    font-size: $title-font-size;
    font-weight: 300;
    line-height: $title-line-height;
    -webkit-line-clamp: $title-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &price {
  }

  &product {
    width: 70%;
    margin-right: 20px;
  }

  &friends {
    width: 30%
  }
}

//HEADER Autosuggest


.headersearch__autosuggestions-container {
  width: 700px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.autosuggest__friends {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-header {
    margin-top: 10px;
  }
}

.headersearch__{
  &container {
    width: 100%;
    justify-content: flex-start;
  }

  &userbox {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
  }

  &userimg-img{
    width: 100%;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  &userimg-img:hover {
    cursor: pointer;
  }

  &friendbox {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &friend-text {
    height: $name-font-size*$name-line-height*$name-lines-to-show; /* Fallback for non-webkit */
    font-size: $name-font-size;
    font-weight: 400;
    line-height: $name-line-height;
    -webkit-line-clamp: $name-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
