.search__{
  &container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #D6D6D6 solid;
    width: 100%;
    height: 40px;
    padding: 0px;
    border-radius: 18px;
  }

  &box {
    width: 100%;
  }

  &bar {
    justify-content: space-between;
    width: 100%;
  }

  &input {
    width: 382px;
    padding: 0px 0 0px 20px;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    border-radius: 18px;
  }

  &btn {
    margin-left: auto;
    width: 28px;
    padding: 0px 0;
    padding-right: 10px;
    background: white;
    border-radius: 18px;
  }

  &btn-icon {
    color: gray;
  }

  &input:focus,
  &btn:focus {
    outline: none;
  }
}
