$font-size: 28px;
$line-height: 1.2;
$lines-to-show: 6;

.settings__ {
  &container {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &row-top,
  &row-bottom {
    width: 100%;
    justify-content: space-between;
  }

  &userbox,
  &invite,
  &networks,
  &perviews {
    width: 465px;
    margin: auto;
    height: 200px;
    display: block;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px #D6D6D6 solid;
    box-shadow: 0px 2px 2px 1px #EAEAEA;
    border-radius: 7px;
  }


  &userbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &userimgcontainer {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &userimgbox {
    width: 90px;
    height: 90px;
    margin-right: 8px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
  }

  &userimg{
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  &userimg:hover {
    cursor: pointer;
  }

  &username {
    width: 65%;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $font-size;
    font-weight: 300;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
