.settings__ {
  &container {
    max-width: 980px;
    margin: auto;
    color: red;
    display: flex;
    flex-wrap: wrap;
  }

  &row-top,
  &row-bottom {
    width: 100%;
    justify-content: space-between;
  }

  &user,
  &invite,
  &networks,
  &perviews {
    width: 480px;
    margin: auto;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    margin-bottom: 20px;
    border: 1px #D6D6D6 solid;
    box-shadow: 0px 2px 2px 1px #EAEAEA;
    border-radius: 7px;
  }

  &portrait {
    // width: 30%;
  }

  &name {
    // width: 70%;
  }

  &userimg {
    width: 30%;
    border-radius: 50%;
    max-height: 50px;
    overflow: hidden;
  }
}
