.signin__ {
  /* signin box */
  &conatiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    padding-top: 100px;
    border-top: 10%;
  }

  &box {
    display: flex;
    position: relative;
    margin: auto;
    background: white;
    width: 450px;
    height: 350px;
    border: 2px gray solid;
  }
  /* logo */
  &logo {
    position: absolute;
    margin: auto;
    background-color: #777777;
    border-radius: 50%;
    left: 180px;
    top: -60px;
    width: 90px;
    height: 90px;
    z-index: 1;
    // background-color: gray;
  }

  &logoimg {
    border-radius: 50%;
    margin: auto;
    width: 100%;
  }

  /* Welcome Message */
  &body {
    width:85%;
    margin: auto;
  }

  &bodywelcome {
    margin: auto;
    padding: 20px 0 15px 0;
    font-size: 25px;
    color: gray;
  }

  &bodymessage {
    margin: auto;
    font-size: 14px;
    color: gray;
    padding: 0 15px 0 17px;
  }
  /* auth button*/
  &form {
    margin: auto;
    padding: 60px 0 0 0;
  }

  &form-facebook {
    // width: 50%;
    margin: auto;
    padding: 8px 23px;
    border-radius: 5px;
    font-size: 14px;
    background: gray;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  &terms {
    padding: 30px 0;
    margin: auto;
    font-size: 14px;
    color: gray;

    &-urls {
      color: gray;
    }
  }
}
