.signin__ {
  /* signin box */
  &background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.79;
    background: #79A9CF url("https://s3.amazonaws.com/yumpapp-dev/perview/background+icons.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

  &container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    border-top: 10%;
    color: blue;
  }


  &box {
    display: flex;
    position: relative;
    margin: auto;
    background: white;
    width: 450px;
    height: 350px;
    border: 2px gray solid;
  }
  /* logo */
  &logo {
    position: absolute;
    margin: auto;
    background-color: #777777;
    border-radius: 50%;
    left: 180px;
    top: -60px;
    width: 90px;
    height: 90px;
    z-index: 1;
    // background-color: gray;
  }

  &logoimg {
    border-radius: 50%;
    margin: auto;
    width: 100%;
  }

  /* Welcome Message */
  &body {
    width:85%;
    margin: auto;
  }

  &bodywelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0 15px 0;
    font-size: 25px;
    color: gray;
  }

  &bodymessage {
    margin: auto;
    font-size: 14px;
    color: gray;
    padding: 0 15px 0 17px;
  }
  /* auth button*/
  &form {
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
  }

  &form-facebook:hover {
    color: white;
  }

  &submit-facebook {
    // width: 50%;
    margin: auto;
    padding: 8px 23px;
    margin-bottom: 10px;
    border-radius: 18px;
    font-size: 14px;
    background: #6E96C8;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  &submit-msg {
    font-size: 12px;
    color: #484848;
  }

  &terms {
    padding: 30px 0;
    margin: auto;
    font-size: 14px;
    color: gray;

    &-urls {
      color: gray;
    }
  }
}
