.signin{
  max-width: 100%;
  height: auto;
}

.signin__ {
  /* signin box */
  &background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.79;
    background: #779AF4 url("https://s3.amazonaws.com/perviewimages/signin_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }

  &container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 70px;
    color: blue;
  }


  &box {
    display: flex;
    position: relative;
    margin: auto;
    background: white;
    width: 450px;
    height: 458px;
    border: 1px #D6D6D6 solid;
    box-shadow: 1px 7px 18px 1px #888;

  }
  /* logo */
  &logo {
    height: 45%;
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &logoimg {
    width: 60%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  /* Welcome Message */
  &body {
    height: 55%;
    width: 85%;
    margin: auto;
    border-top: 1px solid #E9E9E9;
    padding-top: 10px;
  }

  &bodywelcome {
    margin: auto;
    padding: 0 0 15px 0;
    font-size: 25px;
    color: #484848;
    font-family: 'Roboto';
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &bodymessage {
    margin: auto;
    font-size: 14px;
    color: gray;
    padding: 10px 15px 0 17px;
    font-family: 'Roboto';
    font-weight: lighter;
  }
  /* auth button*/
  &form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 12px 0;
  }

  &form-facebook:hover {
    color: white;
  }

  &submit-facebook {
    width: 201px;
    height: 33px;
    margin-bottom: 10px;
    border-radius: 18px;
    font-size: 14px;
    background: #3D70F0;
    color: white;
    transition: 0.3s;
    line-height: 1.6px;
    font-family: "Fira Sans";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &submit-facebook{
    &:hover {
      background: #79A0E3;
      box-shadow: 1px 5px 5px #E1E1E1;
      transition: 0.3s;
    }

    &:active {
      background: #85B0FB;
      box-shadow: 0 0 1px #E1E1E1;
      transition: .1s;
    }
  }

  &submit-msg {
    font-size: 10px;
    color: #484848;
    text-shadow: 0px 0px 10px #fff;
  }

  &terms {
    padding: 30px 0;
    margin: auto;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-urls {
      text-decoration: underline;
      padding: 0 4px;
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .signin{
    max-width: 100%;
    height: 100%;
  }

	.signin__{
    &background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.79;
      background: #79A9CF url("https://s3.amazonaws.com/yumpapp-dev/perview/background+icons.png") repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: -1;
    }

    &box {
      width: 100%;
      height: 100%;
    }
  }
}
