$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 3;

.wideresults__ {
  &container {
    width: 980px;
    min-width: 980px;
    margin: auto;
  }

  &box {
    width: 100%;
    height: 300px;
    margin-left: auto;
    box-shadow: 1px 1px 1px #888;
    margin-bottom: 10px;
    margin-bottom: 20px;
    // padding: 10px 0 30px 0;
  }
  /* product info - left perview*/
  &perview-left {
    display: flex;
    justify-content: space-between;
    width: 60%;
    background: #FFF;
    padding-top: 20px;
  }

  // left perview - left side
  &productimg {
    width: 40%;
    padding: 20px 10px 50px 10px;
  }

  &productimg-photo {
    width: 100%;
    height: 80%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  // left perview - right side
  &perview-left-info {
    width: 60%;
    padding: 20px 30px 50px 10px;
  }

  &product-title {
    width: 100%;
    height: 130px;
    padding-bottom: 10px;
    color: darkgray;
    // height: 130px;
    // line-height: 130px;
    // overflow: hidden;
    // text-overflow: ellipsis;

    // white-space: nowrap;
    // overflow: hidden;
    // max-width: 300px;
    // border-left: 0 solid transparent;
    // border-right: 1em solid transparent;
    // text-overflow: ellipsis;
  }

  &product-info {
    display: flex;
    // justify-content: space-between;
    width: 100%;
  }

  &product-price {
    align-self: flex-start;
    white-space: normal;
    padding-left: 15px;
    // width: 50%;
  }

  &product-numperviews {
    margin-left: auto;
    // width: 50%;
  }

  &product-buybtn {
    font-size: 10px;
    font-family: arial;
    margin-top: 10px;
    color: white;
    background: gray;
  }
}

/* user review - right perview*/
.wideresults__{
  &perview-right {
    width: 40%;
    background: #E9E9E9;
  }

  &perview-rightbox {
    width: 100%;
    height: 100%;
    padding: 10px 10px 20px 30px;
  }

  &review-time {
    align-self: flex-end;
    color: gray;
    font-size: 12px;
    padding-bottom: 10px;
  }

  &review-user {
    display: flex;
    align-content:flex-start;
    align-items: center;
    width: 100%;

  }

  &review-user-icon {
    padding-right: 20px;
    // width: 20%;
  }

  &review-user-img {
    width: 40px;
    border-radius: 50%;
  }

  &review-username {
    color: black;
    font-weight: bold;
    // width: 80%;
  }

  &review-stars {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &review-tags {
    margin-bottom: 10px;
    color: black;
  }

  &review-text {
    width: 100%;
    padding-bottom: 10px;
    // height: 140px;
    // line-height: 140px;
    color: gray;
    // font-size: 12px;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    min-width: 352px;
    height: 50px;
    // height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* right bottom */
  &review-social-box {
    margin-top: auto;
    justify-content: space-between;
    align-items: flex-end;
  }

  &review-comments-box{
  }

  &review-comments-icon{
    color: #919ECB;
    padding-right: 7px;
  }

  &review-comments{
    color: gray;
    font-size: 11px;
  }

  &review-social-save {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &review-social-like {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: center;
  }

  &review-social-share {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: center;
  }

  &review-icon {
    &-save,
    &-like,
    &-share {
      color: #919ECB;
    }
  }

  &review {
    &-save,
    &-like,
    &-share {
      color: gray;
    }
  }



}
