.wideresults__ {
  &container {
    width: 980px;
    min-width: 980px;
    margin: auto;
  }

  &box {
    width: 100%;
    height: 300px;
    margin: auto;
    box-shadow: 1px 1px 1px #888;
    margin: 10px 0 30px 0;
  }
  /* product info - left perview*/
  &perview-left {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background: #FFF;
  }

  // left perview - left side
  &productimg {
    width: 100%;
    padding: 20px 10px 50px 10px;
  }

  &productimg-photo {
    width: 100%;
    height: 50%;
    border-radius: 5px;
  }
  // left perview - right side
  &perview-left-info {
    width: 100%;
    padding: 20px 10px 50px 10px;
  }

  &product-title {
    width: 100%;
    padding-bottom: 10px;
    // height: 130px;
    // line-height: 130px;
    // overflow: hidden;
    // text-overflow: ellipsis;

    // white-space: nowrap;
    // overflow: hidden;
    // max-width: 300px;
    // border-left: 0 solid transparent;
    // border-right: 1em solid transparent;
    // text-overflow: ellipsis;
  }

  &product-info {
    display: flex;
    // justify-content: space-between;
    width: 100%;
  }

  &product-price {
    align-self: flex-start;
    white-space: normal;
    padding-left: 15px;
    // width: 50%;
  }

  &product-numperviews {
    // width: 50%;
    margin-left: auto;
  }

  &product-buybtn {
    font-size: 10px;
    font-family: arial;
    margin-top: 10px;
    color: white;
    background: gray;
  }

  /* user review - right perview*/
  &perview-right {
    width: 50%;
    background: #E9E9E9;
  }



}
