.navbar__ {
  &container {
    display: flex;
    justify-content: center;
    padding-top: 7em;
    padding-bottom: 15px;
    width: 100%;
    margin: auto;
  }

  &box {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 980px;
  }

// dashboard/hero wrapper
  &title {
    // width: 980px;
    width: 100%;
    padding: 16px 0;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  &hero {
    width: 100%;
    margin-bottom: 10px;
  }

// dashboard
  &dashboard {
    width: 400px;
    height: 100px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }

  &dashboard- {
    &photo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 50px;
      background: #D3D6DB;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &img {
      width: 100%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      image-rendering: -moz-crisp-edges;         /* Firefox */
      image-rendering:   -o-crisp-edges;         /* Opera */
      image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
    }

    &info {
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
    }

    &name {
      font-family: 'Roboto';
    }

    &stats{
      display: flex;
      justify-content: row;
    }

    &numperviews,
    &numfriends,
    &numfirsts {
      font-family: "Fira Sans";
      padding-right: 12px;
      font-size: 16px;
      font-weight: bold;
    }

    &numfriends:hover {
      color: blue;
    }

    &text {
      padding-left: 4px;
      font-size: 14px;
      font-weight: lighter;

    }
  }

  &userbox {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  &userimgbox {
    display: block;
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin-right: 15px;
  }

  &userimg {
    width: 100%;
    max-height: 50px;
    overflow: hidden;
    border-radius: 50%;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  &userimg:hover {
    cursor: pointer;
  }

  &username {
    width: 80%;
    margin-right: 0;
    padding-right: 0;
  }

  // filter bar


  &filterbox {
  }

  &filter-title {
    padding-right: 20px;
    font-size: 14px;
  }

  &dropdown-filter {
    width: 210px;
    height: 30px;
    border: 1px #D6D6D6 solid;
    border-radius: 1em;
  }

  &filteroption {
  }

  &filteroption-text{
    font-size: 18px;
  }
}
