.price__popover {
  font-size: 12px;
  font-family: roboto;
  font-weight: lighter;
  cursor: pointer;
}

.price__popover{
  &-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    cursor: pointer;

    :hover {
      color: blue;
      text-decoration: none;
    }
  }
}
