$font-size: 14px;
$line-height: 1.25;
$lines-to-show: 4;

.perviewcard__ {
  &modal {
    width: 850px;
  }

  &perview-rightbox {
    width: 100%;
    // height: 100%;
    padding: 10px 0;
    margin-bottom: auto;
  }

  &header {
    display: flex;
    justify-content: space-between;
  }

  &review-time {
    margin-left: auto;
    color: #3A3A3A;
    font-size: 12px;
    padding-top: 8px;
  }

  // Perview Card Option
  &perview-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &review-user {
    display: flex;
    align-content:flex-start;
    width: 100%;
    padding-bottom: 14px;
  }

  &review-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background: #D3D6DB;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &review-user-img {
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  &review-user-img:hover {
    cursor: pointer;
  }

  &review-username {
    color: #3E3E3E;
    font-weight: bold;
    width: 80%;
    margin: auto;
    cursor: pointer;
    text-overflow: ellipsis;
  }
// badges
  &badges {
    position: relative;
  }

  &badge-container {
    // position: absolute;
    // top: 100;
    // left: 0;
    // padding-left: 50px;
  }

  &badge-first {
    width: 17px;
    height: 17px;
    margin-right: 8px;
  }


// edit and delete box
  &editbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 23px;
    margin-right: 8px;
  }

  &edit-container {
    width: 50%;
    margin-right: 8px;
  }

  &edit-container:hover {
    cursor: pointer;
  }

  &delete-container {
    width: 50%;
  }

// Rating
  &review-stars {
    padding-bottom: 4px;
  }

  &review-tags {
    color: #3E3E3E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &review-text {
    width: 100%;
    color: #3F3F3F;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    font-weight: 300;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &showmore {
    padding: 0 8px;
  }
  /* right bottom */
  &review-social-box {
    // margin-top: auto;
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  &review-comments-box{
  }

  &review-comments-icon{
    color: #3D70F0;
  }

  &review-comments{
    color: #484848;
    font-size: 11px;
  }

  &review-social {
    // margin-top: auto;
    width: 100%;
    margin-right: 3px;
    padding-bottom: 10px;
    display: flex;
  }

  &review-social-btn {
    margin-right: 3px;
    padding: 3px 8px;
    // border: 1px solid #ced0d4;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    // transition: all linear 250ms;
  }

  &review-social-btn.active {
    background: none;
    color: #3D70F0;
    // border: 1px solid #ccc;
    transition: all linear 250ms;
    font-weight: bold;

    // font icons
    // -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #3D70F0;
    // transition: ease .2s;
    // transition: color linear 250ms;
  }

  &review-social-btn:hover,
  &review-social-btn:hover *{
    background: #c7d6fb;
    color: #3D70F0;
    // border: 1px solid #ccc;
    // transition: all linear 250ms;
    // font icons
    // text-shadow: 0px 0px 1px #3D70F0;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #3D70F0;
    // transition: ease .2s;
    transition: color ease 250ms;
  }

  &review-social-text {
    white-space: nowrap;
    padding-left: 3px;
  }

  &review-icon-bookmark,
  &review-icon-like,
  &review-icon-comment {
    opacity: 1;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4b4f56;
    // -webkit-text-stroke-color: #3D70F0;
    color: transparent;
    margin-right: 5px;
    // transition: all linear 250ms;
    transition: ease .2s;
  }

  &review-icon-bookmark.active,
  &review-icon-like.active {
    color: #3D70F0;
    // background: #3D70F0;
    font-weight: bold;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #3D70F0;
    // transition: ease .2s;
    // transition: color linear 250ms;
  }

  // &review-icon-bookmark:hover,
  // &review-icon-like:hover {
  //   color: #3D70F0;
  //   transition: ease .2s;
  //   -webkit-text-stroke-width: 1;
  //   -webkit-text-stroke-color: #3D70F0;
  //   transition: color linear 250ms;
  // }

// Liker Popover
  &numlikers-box {
    padding-right: 3px;
    min-width: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }


  &popover {
    // Header z-index is 10, this will not go over header
    z-index: 9;
    overflow-y: auto;
    width: 180px;
    height: 200px;
    transform: translate(-55px, -10px);
  }

  &popover-user {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-bottom: 8px;
  }

  &popover-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D3D6DB;
    margin-right: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &popover-user-img {
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  &popover-user-img:hover {
    cursor: pointer;
  }

  &popover-username {
    color: #3E3E3E;
    font-weight: bold;
    margin: auto 0;
    cursor: pointer;
    overflow: hidden;
  }
  //solicit perview creat perview wrapper

  &solicitcard {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    .suggestions {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 3px 0;
      cursor: pointer;
      font-family: Roboto, sans-serif;
      color: white;
      background: #919ECB;
      border-radius: 5px;
      margin-top: 8px;
      margin-left: -5px;
    }

    .fa {
      color: #DAB559;
      padding-right: 8px;
    }
  }
}

.popover.top > .arrow {
  display: none;
}
