//Modal
.perviewdetailmodal__{
  &modal-show:hover {
    cursor: pointer;
  }

  &modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    max-width: 850px;
    margin-top: 0;
  }

  &header {
    padding-bottom: 0;
  }

  &body {
  }

  &perviewbox {
    padding: 0 20px 20px 20px;
  }

  &userbox {
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
  }

  &userimgbox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background: #D3D6DB;
    vertical-align: middle;
  }

  &userimg {
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
  }

  &username {
    padding: 8px;
  }

  &ratingbox {
    padding-top: 8px;
  }

  &reviewbox {
    padding: 6px 0;
  }

  &socialbox {
    padding: 8px 0;
  }

  &social-icon {
    padding-right: 8px;
  }

  &social-bookmark,
  &social-like {
    background: transparent;
    text-shadow: 0px 0px 1px #000;
  }

  &social-bookmark:hover,
  &social-like:hover {
    cursor: pointer;
  }

  &social-bookmark.active,
  &social-like.active {
    color: #638CF3;
    transition: ease .2s;
    text-shadow: 0px 0px 0px #E9E9E9;
  }
}
