.friendperview__{
  &container {
    margin: auto;
    max-width: 980px;
  }

  &hero {
    padding-top: 70px;
    width: 100%;
    margin: auto;
  }

  &perviews {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
